
#columns {
    column-width: 250px;
    column-gap: 15px;
    width: 90%;
    max-width: 1100px;
    margin: 50px auto;
}

div#columns figure {
    background: #fefefe;
    border: 2px solid #fcfcfc;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    margin: 0 2px 15px;
    padding: 15px;
    padding-bottom: 10px;
    transition: opacity .4s ease-in-out;
    display: inline-block;
    column-break-inside: avoid;
    cursor: pointer;
}

div#columns figure img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 5px;
}

div#columns figure figcaption {
    font-size: .9rem;
    color: #444;
    line-height: 1.5;
}

div#columns small {
    font-size: 1rem;
    float: right;
    text-transform: uppercase;
    color: #aaa;
}

div#columns small a {
    color: #666;
    text-decoration: none;
    transition: .4s color;
}

div#columns:hover figure:not(:hover) {
    opacity: 0.8;
    /*transform: translateY(1px);*/
}

@media screen and (max-width: 750px) {
    #columns {
        column-gap: 0px;
    }

    #columns figure {
        width: 100%;
    }
}

/* Search Form */
.hide {
    width: 0;
    height: 0;
    position: absolute;
    line-height: 0;
    display: none;
}

.searchArea {
    width: 750px;
    border: 1px solid #d1d3d4;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgb(0 0 0 / 10%), -1px -1px 5px rgb(0 0 0 / 10%);
    padding: 20px 30px 20px 180px;
    position: relative;
    margin: 50px auto;
}

.searchArea:before {
    content: "";
    display: block;
    width: 150px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: url(https://www.animal.go.kr/front/images/sub/searchArea.png) no-repeat center center;
    border-right: 1px solid #d1d3d4;
    box-sizing: border-box;
}

.searchArea:after {
    content: "SEARCH";
    font-size: 16px;
    text-align: center;
    color: #000000;
    font-weight: 500;
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    width: 150px;
    height: 100%;
    margin-top: 40px;
    font-family: 'Noto Sans KR', sans-serif;
}

.searchArea .searchList > li {
    display: block;
    margin: 6px 0;
    overflow: hidden;
}

.searchArea .searchList > li dl {
    display: block;
    float: left;
    margin-left: 20px;
}

.searchArea .searchList > li dl:first-child {
    margin-left: 0;
}

.searchArea .searchList > li dl dt {
    font-size: 14px;
    font-weight: normal;
    color: #58595b;
    text-align: left;
    display: inline-block;
    margin-right: 10px;
}

.searchArea .searchList > li dl dd {
    display: inline-block;
    font-family: '돋움', sans-serif;
    font-size: 12px;
    font-weight: normal;
}

.searchBtn {
    font-size: 11px;
    font-weight: bold;
    font-family: '돋움', sans-serif;
    color: #ffffff;
    background-color: #194b82;
    border-radius: 3px;
    display: inline-block;
    padding: 0 20px;
    height: 24px;
    line-height: 24px;
}

select {
    background-color: #ffffff;
}

.inputDate {
    background-image: url(https://www.animal.go.kr/front/images/common/ico-file.png);
    background-repeat: no-repeat;
    background-position: right 6px center;
    padding-right: 20px;
}